@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "anton";
    src: url("Anton-Regular.ttf");
}

html, body {
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
}

.app-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: min-content auto;
}

.app-layout > header {
    grid-column: 1 / span 3;
    grid-row: 1;
    height: 100%;
}

.app-layout > main {
    grid-column: 1 / span 3;
    grid-row: 2;
}